
body{
    background-color: whitesmoke;
}
.topy{
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    color: white;
    background-size: cover;
    text-align: center;
    justify-content: space-between;
    font-size: 1em;
}
.mouse{
    margin-bottom: 3em;
}
.at{
    margin-top: 4em;
}
.att{
    margin-bottom: 2em;
}
.info{
    text-align: center;
    margin-top: 3em;
}
.service{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 3em;
    font-size: 1em;
    height: 30vh;
}
.we{
    margin-top: 10px;
}
.contacts h4{
    margin-top: 3em;
    margin-bottom: 2em;
}
#contacts{
    background-image: url("../images/assets/backgrounds/c_image.jpg");
    background-size: cover;
}
#message{
    background: none;
    margin-top: 3em;
}
.what{
    text-align: center;
    margin-bottom: 3em;
}
footer{
    margin-top: 2em;
    margin-left: 5em;
}
.row{
    margin-left: 7em;
}
#name{
    background: none;
    color: white;
}
#email{
    background: none;
    color: white;
}
.con{
    text-align: center;
    margin-top: 2em;
    color: white;
}
.Hover {
    opacity:0;
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%; 
  }
  .hide{
      display: none;
  }
  .form-control::placeholder{
      color: white !important;

  }
  .bar, .bar2, .bar3, .bar4, .bar5, .bar6, .bar7, .bar8{
      background-color: rgb(255, 255, 255, 0.3);
      height: 70%;
      width: 90%;
      position: absolute;
      top: 20px;
      left: 10px;
      right: -1px;
      display: none;
  }

  
  
