
body{
    background-color: whitesmoke;
}.topy{
    background-image: url("/images/assets/backgrounds/h_img.jpg");
    color: white;
    background-size: cover;
    text-align: center;
    justify-content: space-between;
    font-size: 1em;
}
.mouse{
    margin-bottom: 3em;
}
.at{
    margin-top: 4em;
}
.att{
    margin-bottom: 2em;
}
.info{
    text-align: center;
    margin-top: 3em;
}
.service{
    background-image: url("/images/assets/backgrounds/s_image.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 3em;
    font-size: 1em;
    height: 30vh;
}
.we{
    margin-top: 10px;
}.contacts h4{
    margin-top: 3em;
    margin-bottom: 2em;
}
.contacts{
    background-image: url("/images/assets/backgrounds/c_image.jpg");
    background-size: cover;
}
#message{
    background-color: transparent;
    margin-top: 3em;
}